#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(110, 202, 255);
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

form {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

input {
    background: #f9f9f9;
    padding: 10px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    outline: none;
    font-weight: 300;
}

.rccs__card--unknown>div {
    background-image: url("./assets/6.jpeg");
    box-shadow: 15px;
}

.divStyle {
    display: flex;
    height: 600px;
    width: 500px;
    margin: 0 auto;
    margin-top: -100px;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Button {
    background: green;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    box-shadow: 5px 5px;
    cursor: pointer;
}